.topnav{
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  border-bottom: 1px solid #8c8c8c;
  height: 30px;
  width: 100%;
  align-items: center;
  font-size: 14px;
}

.topnav-left{
  display: flex;
  align-items: center;
  padding-top: 10px;
}

button#btn-menu {
  background: #fff;
  color: black;
  height: 10px;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid #8c8c8c;
}

button#btn-menu:focus, .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #76b7e9;
  outline: 0;
  box-shadow: 0 0 0 0px #28a745
}


button#btn-menu:hover {
  color: #fc5356;
}

.topnav-right{
 padding-right: 30px;
 padding-bottom: 10px;
}

.topnav-right a{
  color: black;
  font-size: 14px;
  margin: 10px;
}

.topnav-right a:hover{
  color: #fc5356;
}


.topnav-left i {
  padding-left: 10px;
  padding-right: 10px;
}

.topnav-left p {
  border-right: 1px solid #8c8c8c;
  padding-right: 10px;
  font-weight: bold;
}

nav ul{
  list-style: none;
  display: flex;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
}

a{
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.nav-contain-right a{
  color: black;
  font-size: 18px;
  font-family: 'Zen Antique', serif;
  margin: 20px;
}

.nav-contain-right a:hover {
  border-bottom: 3px solid #fc5356;
  color: #fc5356;
}

.nav-contain{
  border-bottom: 1px solid #8c8c8c;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
}

#logo img{
  cursor: pointer;
  padding-left: 50px;
  height: 75px;
}

.nav-contain a.active{
  color: #fc5356;
  border-bottom: 3px solid #fc5356;
}

.input-group{
  border: 2px solid black;
  height: 30px;
  width: 180px;
  margin-right: 20px;
}

.carousel-caption h5{
  font-family: 'Zen Antique', serif;
  font-size: 40px;
  font-weight: bold;
}

.carousel-caption p{
  font-size: 20px;
  font-weight: bold;
  color: #fc5356;
}

.form-control{
  height: 26px;
}

.btn-search{
  color: #fc5356;
  border: 0px;
  height: 26px;
}

.btn-search:hover{
  color: white;
  background-color: #fc5356;
}

i.fa-shopping-cart{
  color: black;
  margin-right: 20px;
  vertical-align: -5px;
}

.carousel-inner{
  border-bottom: 1px solid #8c8c8c;
}

.carousel-item {
  height: 89vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* responsive */
@media only screen and (max-width: 1050px) {
  .topnav{
    flex-direction: column;
    height: 100%;
  }

  .topnav-right ul {
    margin-left: 0;
    margin-top: 0;
  }

  .nav-contain{
    height: 100%;
    flex-direction: column;
  }

  #logo{
    display: flex;
    justify-content: center;
  }

  #logo img{
    padding-left: 0;
  }

  .nav-contain-right{
    display: flex;
    justify-content: center;
  }

  .nav-contain-right ul{
    margin-left: 0;
    padding-left: 0;
  }
}

@media only screen and (max-width: 715px)
{
  .nav-contain-right ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-contain-right ul li {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 510px) {
  .topnav-left {
    flex-direction: column;
  }

  .topnav-left p {
    border: none;
  }
}







