<section class="section bg-lightred mb-0 section-slim" id="features">
  <div class="container clearfix">
      <div class="row">
          <div class="col-sm-6 col-lg-4">
              <div class="feature-box-1">
                  <div class="icon">
                    <i class="fas fa-phone-alt icon-circle"></i>
                  </div>
                  <div class="feature-content">
                      <h4> +237 691 10 11 81</h4>
                      <p>SERVICE CLIENT 24/7</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="feature-box-1">
                  <div class="icon">
                    <i class="fas fa-truck icon-circle"></i>
                  </div>
                  <div class="feature-content">
                      <h4>LIVRAISON RAPIDE</h4>
                      <p>DANS L'AFRIQUE CENTRALE & GRATUIT</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="feature-box-1">
                  <div class="icon">
                    <i class="fas fa-trophy icon-circle"></i>
                  </div>
                  <div class="feature-content">
                      <h4>PLUS DE 1K+</h4>
                      <p>CLIENTS SATISFAITS</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
