<app-navigation></app-navigation>

<nav aria-label="breadcrumb">
  <div class="nav-contain">
    <div class="nav-left">
      <h3> Mes préférés </h3>
      <p>Articles que vous aimez</p>
    </div>
    <div class="nav-right">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mes préférés</li>
      </ol>
    </div>
  </div>
</nav>

<div class="container">
  <div class="content-sidenav">
    <ul class="nav-list">
      <a class="nav-link" id="active"> Matériel informatique</a>
      <a class="nav-link">Fournitures de bureau</a>
      <a class="nav-link ">Fournitures scolaires</a>
      <a class="nav-link">Autres</a>
      <a class="nav-link">Retour</a>
    </ul>
  </div>
  <div class="content-area">
    <div class="container d-flex justify-content-center mt-100">
      <div class="row">

        <div class="col-md-3">
          <div class="product-wrapper mb-15 text-center">
            <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg" alt=""> </a> <span class="text-center"> 43,000 FCFA</span>
              <div class="product-action">
                <div class="product-action-style">
                  <p>nom du produit</p>
                  <a href="#"><i class="fa fa-plus"></i></a>
                  <a href="#"><i class="fas fa-times"></i></a>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-wrapper mb-45 text-center">
            <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/lAQxXCK.jpg" alt=""> </a> <span> 41,000 FCFA</span>
              <div class="product-action">
                <div class="product-action-style">
                  <p>nom du produit</p>
                  <a href="#"><i class="fa fa-plus"></i></a>
                  <a href="#"><i class="fas fa-times"></i></a>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-wrapper mb-45 text-center">
            <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/HxEEu5g.jpg" alt=""> </a> <span> 33,000 FCFA</span>
              <div class="product-action">
                <div class="product-action-style">
                  <p>nom du produit</p>
                  <a href="#"><i class="fa fa-plus"></i></a>
                  <a href="#"><i class="fas fa-times"></i></a>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-wrapper mb-45 text-center">
            <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/lAQxXCK.jpg" alt=""> </a> <span> 23,000 FCFA</span>
              <div class="product-action">
                <div class="product-action-style">
                  <p>nom du produit</p>
                  <a href="#"><i class="fa fa-plus"></i></a>
                  <a href="#"><i class="fas fa-times"></i></a>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-wrapper mb-45 text-center">
            <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/lAQxXCK.jpg" alt=""> </a> <span> 23,000 FCFA</span>
              <div class="product-action">
                <div class="product-action-style">
                  <p>nom du produit</p>
                  <a href="#"><i class="fa fa-plus"></i></a>
                  <a href="#"><i class="fas fa-times"></i></a>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-wrapper mb-45 text-center">
            <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/lAQxXCK.jpg" alt=""> </a> <span> 23,000 FCFA</span>
              <div class="product-action">
                <div class="product-action-style">
                  <p>nom du produit</p>
                  <a href="#"><i class="fa fa-plus"></i></a>
                  <a href="#"><i class="fas fa-times"></i></a>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-wrapper mb-45 text-center">
            <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/lAQxXCK.jpg" alt=""> </a> <span> 23,000 FCFA</span>
              <div class="product-action">
                <div class="product-action-style">
                  <p>nom du produit</p>
                  <a href="#"><i class="fa fa-plus"></i></a>
                  <a href="#"><i class="fas fa-times"></i></a>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="product-wrapper mb-45 text-center">
            <div class="product-img"> <a href="#" data-abc="true"> <img src="https://i.imgur.com/lAQxXCK.jpg" alt=""> </a> <span> 23,000 FCFA</span>
              <div class="product-action">
                <div class="product-action-style">
                  <p>nom du produit</p>
                  <a href="#"><i class="fa fa-plus"></i></a>
                  <a href="#"><i class="fas fa-times"></i></a>
                  <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-features></app-features>
<app-partners></app-partners>
<app-footer></app-footer>
