<app-navigation></app-navigation>

<nav aria-label="breadcrumb">
  <div class="nav-contain">
    <div class="nav-left">
      <h3> MENTIONS LÉGALES </h3>
      <p> Protection des données personnelles </p>
    </div>
    <div class="nav-right">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"> MENTIONS LÉGALES</li>
      </ol>
    </div>
  </div>
</nav>

<div class="row">
  <h3>Identité</h3>
  <img src="assets/img/Content/mention_legale/gavel-3577255_19201.jpg" alt=""><br>
  <strong>Le site global-supportservices.com (ci-après dénommé le « Site ») est édité et exploité par la société Global Support Services , société privée à responsabilité limitée de capital social de 11.000.000 Fcfa, dont le siège social est situé</strong><br><br><br>
  <strong>Station service OLA</strong><br>
  <strong>(ancien mobile omnisport près du stade)</strong>
  <strong>N3, Cameroun</strong><br><br>
  <p>Téléphone: +237 691 10 11 81 du Lundi au Vendredi : 8h-17h</p><br><br>
  <p>E-mail: <a href="">info@global-supportservices.com</a></p>
  <p>web: <a href="">global-supportservices.com</a></p><br>
  <p><b>Représentants légaux : RAS</b> </p><br>
  <p><b>Immatriculée : RAS</b> </p><br>
  <p><b>Numéro de TVA : RAS</b> </p><br>
  <p><a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage">Lien vers la plateforme de la Commission Européenne</a> en accord avec le règlement relatif au RLLC (Règlement en Ligne des Litiges de Consommation).</p><br>
  <strong>L’éditeur</strong><br><br>
  <p>L’édition et la direction de la publication du site global-supportservices.com sont assurées par Désirée Bwandji, dont le numéro de téléphone est +237-691-10-11-81, et l'adresse e-mail d.bwandji@global-supportservices.com.</p><br>
  <strong>L’hébergeur</strong><br><br>
  <p>L'hébergeur du site global-supportservices.com est la Société OVH Groupe SAS, dont le siège social est situé au 2 rue Kellermann - 59100 Roubaix - France.</p><br>
  <strong>Conditions d’utilisation :</strong><br><br>
  <p>Ce site (global-supportservices.com) est proposé en différents langages web (HTML5, Javascript(Node js,Angular), CSS, TypeScript etc…) pour un meilleur confort d’utilisation et un graphisme plus agréable.
  Nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc…</p><br><br>
  <strong>Données personnelles :</strong><br><br>
  <p>De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez notre site Internet.
    Cependant, ce principe comporte certaines exceptions. En effet, pour certains services proposés par notre site, vous pouvez être amenés à
    nous communiquer certaines données telles que : votre nom, prenom,votre fonction, le nom de votre société, votre adresse électronique, et votre numéro de téléphone et autres.
    Tel est le cas lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la rubrique « contact ».
  </p><br><br>
  <p>Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne pourrez pas utiliser les services du site, notamment lors des inscriptions, lorsque vous
    sollicitez des renseignements sur notre société, ou de recevoir les lettres d’information.La base de données est protégée par les dispositions de la loi du
    1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
  </p><br><br>
  <p>Le site assure à l'utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978
    relative à l'informatique, aux fichiers et aux libertés.En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978,
    l'utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. <br>
    L'utilisateur exerce ce droit :
  </p>
  <ul>
    <li>par mail à l'adresse email <a href="">info@global-supportservices.com</a></li>
    <li>via un formulaire de contact,</li>
    <li> via son espace personnel.</li>
  </ul>
</div>

<app-features></app-features>
<app-partners></app-partners>
<app-footer></app-footer>
