.paginator {
  margin-left: 20rem;
}

.img-fluid {
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
}

.p-field {
  width: 300px;
  margin-left: 2rem;
  display: block;
}

.radio {
  margin-bottom: 4px;
}

.radio-label {
  font-weight: normal;
  color: black;
}

#p-field{
  display: flex;
  width: 100%;
  padding-left: 2rem;
}

.p-field-left {
  width: 50%;
}

.p-field-right {
  width: 50%;
}

input, textarea#description {
  width: 300px;
}

label {
  font-weight: bold;
  color: black;
  width: auto;
}

input, textarea{
  font-size: 16px;
  font-weight: 500;
}

input{
  height: 30px;
}

input:focus, textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #76b7e9;
  outline: 0;
  box-shadow: 0 0 0 0px #28a745;
}



