<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<app-navigation></app-navigation>

<nav aria-label="breadcrumb">
  <div class="nav-contain">
    <div class="nav-left">
      <h3> Connexion </h3>
      <p>Connectez-vous</p>
    </div>
    <div class="nav-right">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Connexion</li>
      </ol>
    </div>
  </div>
</nav>

<div class="card">
  <div class="card-header text-white">
    <h1>Se Connecter</h1>
  </div>
  <div class="card-body">
    <div class="img-form mb-3 mt-3">
      <img src="assets/img/Content/login/informatic.jpg" alt="image proche du formulaire">
    </div>
    <div class="content-form">
      <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email :</label>
          <div class="form-input">
            <span class="icon"><i class="fas fa-envelope"></i></span>
            <input
              type="email"
              class="form-control"
              placeholder="Adresse e-mail"
              formControlName="email"
              [ngClass] = "{
                'is-invalid': loginForm.get('email')?.touched && !loginForm.get('email')?.valid
              } "
            >
            <div class="invalid-feedback">
              <span *ngIf="loginForm.get('email')?.errors?.required">
                Entrez votre e-mail
              </span>
              <span *ngIf="loginForm.get('email')?.errors?.email">
                l'E-mail n'est pas valide
              </span>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Mot de passe :</label>
          <div class="form-input">
            <span class="icon"><i class="fas fa-lock"></i></span>
            <input
              type="password"
              class="form-control"
              placeholder="Mot de passe"
              formControlName="password"
              [ngClass] = "{
                'is-invalid': loginForm.get('password')?.touched && !loginForm.get('password')?.valid
              } "
            >
            <div class="invalid-feedback">
              <span *ngIf="loginForm.get('password')?.errors?.required">
                Entrez votre mot de passe
              </span>
              <span *ngIf="loginForm.get('password')?.errors?.minlength">
                8 caractères minimum
              </span>
              <span *ngIf="loginForm.get('password')?.errors?.minlength">
                15 caractères maximum
              </span>
            </div>

          </div>
        </div>
        <div class="form-check mb-2">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="remember"
              >Se souvenir de moi
          </label>
        </div>
        <button
          type="submit"
          class="btn btn-sm"
          [disabled]="!loginForm.valid">Connexion
        </button><br><br>

        <a class="form-link" routerLink="/forgotpassword">Mot de passe oublié ?</a><hr>
        <a class="form-link" routerLink="/register">Créer un compte</a>
      </form>
    </div>
  </div>
</div>

<!--<hr>
<p>Dirty: {{ loginForm.dirty }}</p>
<p>Pristine: {{ loginForm.pristine }}</p>
<p>Valid: {{ loginForm.valid }}</p>
<p>Invalid: {{ loginForm.invalid }}</p>
<p>Value: </p>
<pre> {{ loginForm.value | json }}</pre>-->

<app-features></app-features>
<app-partners></app-partners>
<app-footer></app-footer>
