<div class="card">
  <div class="card-header text-white bg-success">
    Se Connecter
  </div>
  <div class="card-body">
    <div class="img-form mb-3 mt-3">
      <img src="assets/img/login/informatic.jpg" alt="image proche du formulaire">
    </div>
    <div class="content-form">
      <form>
        <div class="mb-3 mt-3">
          <label for="email" class="form-label">Email :</label>
          <input type="email" class="form-control" id="email" placeholder="Entrez votre email" name="email">
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Mot de passe :</label>
          <input type="password" class="form-control" id="pwd" placeholder="Mot de passe" name="pswd">
        </div>
        <div class="form-check mb-3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="agree">Agree
          </label>
        </div>

        <button type="submit" class="btn btn-success">Connexion</button>
      </form>
    </div>
  </div>
</div>
