<div class="container">
  <div class="carousel-inner">
    <div class="row">
      <div class="our-partner">
        <div class="pic">
          <img src="assets/img/Content/partners/ifrc.png">
        </div>
      </div>

      <div class="our-partner">
        <div class="pic">
          <img src="assets/img/Content/partners/imc.png">
        </div>
      </div>

      <div class="our-partner">
        <div class="pic">
          <img src="assets/img/Content/partners/nrc.png">
        </div>
      </div>

      <div class="our-partner">
        <div class="pic">
          <img src="assets/img/Content/partners/pnud.png">
        </div>
      </div>

      <div class="our-partner">
        <div class="pic">
          <img src="assets/img/Content/partners/unfpa.png">
        </div>
      </div>
    </div>
  </div>
</div>
