<app-navigation></app-navigation>

<nav aria-label="breadcrumb">
  <div class="nav-contain">
    <div class="nav-left">
      <h3> CONDITIONS GÉNÉRALES DE VENTE </h3>
      <p> Modalités d'achat </p>
    </div>
    <div class="nav-right">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"> CGV</li>
      </ol>
    </div>
  </div>
</nav>

<div class="row">
  <img src="assets/img/Content/conditions-dénérales-de-vente/conditions-generales-de-vente-image-700x250.jpg" alt=""><br>
  <strong>Table des matières</strong><br>
  <ol>
    <li>Domaine d’application</li>
    <li>Conclusion du contrat</li>
    <li>Droit de retour volontaire jusqu'à 60 jours après réception de la marchandise</li>
    <li>Prix et modalités de paiement</li>
    <li>Responsabilité de Global en vers l'acheteur</li>
    <li>Force majeure</li>
  </ol>
  <strong>1) Domaine d'application</strong><br><br>
  <p>Les présentes Conditions Générales de Vente (CGV) s’appliquent à tous les contrats conclus entre
    un consommateur ou un professionnel et Global Support Services (ci-après dénommé le « vendeur ») et ayant pour
    objet les produits et/ou les prestations présentés par le vendeur sur sa boutique en ligne.
    Les présentes CGV annulent toutes conditions imposées par le client, sauf s'il en a été convenu autrement.
    Dans les présentes CGV, le terme « client » désigne aussi bien un consommateur qu’un professionnel.
  </p><br><br>
  <strong>2) Conclusion du contrat</strong><br><br>
  <p>Les descriptions de produits publiées sur la boutique en ligne correspondent à des offres fermes que le client accepte en passant commande.
    Celles-ci peuvent être acceptées par le client conformément au processus décrit ci-après. <br><br>
    Le client peut passer une commande par le biais du formulaire de commande intégré dans la boutique en ligne et accepter ainsi l'offre.
    Lors d'une commande via le formulaire en ligne, le client, après avoir saisi les informations personnelles relatives à la commande
    et cliqué sur le bouton achevant la commande (« Confirmer la commande »), émet une déclaration d'acceptation ferme de l'offre se rapportant
    aux marchandises contenues dans son panier de commande. <br><br>
    Global Support Services adresse au client un accusé réception (par voie électronique) de la commande qui lui est transmis. <br><br>
    Avant de passer une commande ferme et définitive via le formulaire en ligne, le client a la possibilité de corriger
    les informations saisies. De plus, l’ensemble des informations communiquées sera de nouveau affiché dans une fenêtre
    de confirmation juste avant la validation définitive de la commande et pourra y être corrigé de la même façon. <br><br>
    Seule la langue française fait foi pour la conclusion du contrat. <br><br>
    Le traitement de la commande et la prise de contact se font par e-mail et via un système automatisé de traitement de la commande.
    Le client se doit de veiller à l'exactitude de l'adresse e-mail fournie pour des raisons de traitement de la commande
    et afin qu'il puisse recevoir les e-mails envoyés par Global. Par ailleurs, le client doit également veiller, en cas d'utilisation
    de filtres d'e-mails indésirables (anti-spam), à ce que l'ensemble des e-mails envoyés par Global lui-même ou par des tiers chargés
    du traitement de la commande puisse être reçu.
  </p><br><br>
  <strong>3) Droit de retour volontaire jusqu'à 60 jours après réception de la marchandise</strong><br><br>
  <p>Pour tous les achats, nous vous accordons un droit de retour volontaire de 60 jours à compter de la réception de la marchandise,
    en plus du droit de rétractation légal. Avec ce droit de rétractation, vous pouvez également résilier le contrat après l'expiration
    du délai de rétractation de 14 jours en nous renvoyant la marchandise dans les 60 jours suivant la réception
    (début du délai le jour suivant la réception de la marchandise), à l'adresse indiquée à la fin du présent point. L'expédition en temps voulu est
    suffisante pour respecter le délai. Toutefois, la condition préalable à l'exercice du droit de retour volontaire est que vous n'ayez essayé la marchandise
    qu'à des fins d'inspection, comme dans un magasin de détail, et que vous ayez retourné la marchandise complète, dans son état original intact et sans dommage
    dans son emballage de vente original. Si vous souhaitez retourner la marchandise, veuillez utiliser l'autocollant du colis que vous pouvez imprimer vous-même
    dans la section "Demande de retour". Si vous avez des problèmes pour télécharger l'autocollant ou si vous n'avez pas d'imprimante disponible,
    veuillez contacter notre service clientèle.
  </p><br><br>
  <strong>4) Prix et modalités de paiement</strong><br><br>
  <p>À moins qu'il n'en soit disposé autrement dans les descriptions de produit publiées par l'entreprise, les prix indiqués sont des prix définitifs en Fcfa,
    toutes taxes comprises (TTC). Ils incluent donc la taxe sur la valeur ajoutée (TVA). Des frais de livraison et d'expédition supplémentaires pourraient cependant
    s'appliquer. Ils seront, le cas échéant, expressément indiqués dans la description de produit correspondante. <br><br>
    paiement n'est possible que via PayPal.
  </p><br><br>
  <strong>5) Responsabilité de Global en vers l'acheteur</strong><br><br>
  <p>En vertu des dispositions légales, la société demeure entièrement responsable:
    en cas d'intention délictuelle ou grave négligence,
    en cas d'atteinte volontaire ou par négligence à la vie, à l'intégrité corporelle ou à la santé,
    dans le cadre d'une promesse de garantie et sauf dispositions contraires,
    dans le cadre d'une responsabilité impérative du fait des produits défectueux.µ
  </p><br><br>
  <strong>6) Force majeure </strong><br><br>
  <p>La responsabilité de Global ne pourra pas être mise en œuvre si la non-exécution ou le retard dans l’exécution de
    l’une des obligations décrites dans les présentes CGV découle d’un cas de force majeure
  </p>
</div>



<app-features></app-features>
<app-partners></app-partners>
<app-footer></app-footer>
