@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

/* nav */
nav{
  background-color: white;
  padding: 40px 0;
  border-bottom: 1px solid #8c8c8c;
  margin: 0 auto;
  height: 50px;
  font-family: 'Zen Antique', serif;
  margin-bottom: 30px;
}

.nav-contain{
  width: 1000px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}

.nav-left{
  color: black;
  line-height: 0%;
}

a{
  text-decoration: none;
  color: #fc5356;
}

.breadcrumb{
  font-weight: bold;
}

.active{
  color: black;
}

/* forgot password page */
.forgot {
  background-color: #fff;
  padding: 12px;
}

.padding-bottom-3x {
  padding-bottom: 72px;
}

.card-footer {
  background-color: #fff
}

.btn {
  font-size: 13px;
  border-radius: 0rem;
  background-color: #fc5356;
  font-weight: bold;
  border-color: #fc5356;
}

.link-back {
  border: none;
  margin-left: 5rem;
  color: black;
}

.link-back:hover{
  color: #fc5356;
}

.form-group {
  font-weight: bold;
  color: black;
}


.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #76b7e9;
  outline: 0;
  box-shadow: 0 0 0 0px #28a745
}

h2, p{
  font-family: 'Zen Antique', serif;
  color: black;
}

#email-for-pass{
  height: 25px;
  font-size: 14px;
}

