<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<app-navigation></app-navigation>

<nav aria-label="breadcrumb">
  <div class="nav-contain">
    <div class="nav-left">
      <h3> Mot de passe oublié ? </h3>
      <p>Changer votre mot de passe</p>
    </div>
    <div class="nav-right">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Connexion</li>
        <li class="breadcrumb-item active" aria-current="page">Mot de passe oublié</li>
      </ol>
    </div>
  </div>
</nav>

<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
          <div class="forgot">
              <h2>Reinitialisation de mot de passe</h2>
              <p>Veuillez entrer votre adresse email ci-dessous pour recevoir un lien de réinitialisation de mot de passe.</p>
          </div>
          <form class="card mt-4">
              <div class="card-body">
                  <div class="form-group">
                    <label for="email-for-pass">Email</label>
                    <input class="form-control" type="text" id="email-for-pass" required=""><small class="form-text text-muted">Entrez l'adresse e-mail que vous avez utilisée lors de l'inscription. Ensuite, nous vous enverrons un lien vers cette adresse par e-mail.</small>
                  </div>
              </div>
              <div class="card-footer">
                <button class="btn btn-success" type="submit">Réinitialiser mon mot de passe</button>
                <a routerLink="/login" class="link-back">retour</a>
              </div>
          </form>
      </div>
  </div>
</div>


<app-features></app-features>
<app-partners></app-partners>
<app-footer></app-footer>
