<app-navigation></app-navigation>

<nav aria-label="breadcrumb">
  <div class="nav-contain">
    <div class="nav-left">
      <h3> POLITIQUE DE CONFIDENTIALITE </h3>
      <p> lois sur les données personnelles </p>
    </div>
    <div class="nav-right">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page"> MENTIONS LÉGALES</li>
      </ol>
    </div>
  </div>
</nav>

<div class="row">
  <img src="assets/img/Content/politique_de_confidentialite/rgpd-confidentialite-politique.jpg" alt=""><br>
  <strong>Notre engagement envers votre vie privée</strong><br><br>
  <p>Global Support Services s’engage à protéger votre vie privée et à assurer que votre visite sur notre site web soit complètement sécurisée.
    Si vous avez des questions ou des problèmes concernant notre politique de confidentialité ou son application, veuillez nous contacter <a routerLink="/contact">ici</a> .
  </p><br>
  <strong>Introduction</strong><br><br>
  <p>La confidentialité des visiteurs de notre site web est très importante à nos yeux, et nous nous engageons à la protéger.
    Cette politique détaille ce que nous faisons de vos informations personnelles.
  </p><br>
  <strong>Cookies: Nous ne collaborons avec aucun réseau publicitaire tiers.</strong><br><br>
  <strong>Collecte d’informations personnelles.</strong><br><br>
  <strong>Les types d’informations personnelles suivants peuvent être collectés, stockés et utilisés :</strong><br><br>
  <ul>
    <li>Des informations comme votre adresse e-mail, que vous nous fournissez lors de votre inscription au site ;</li>
    <li>Des informations que vous saisissez quand vous créez un profil sur notre site web comme votre nom, prénom, e-mail, mot de passe etc.</li>
    <li>Des informations que vous saisissez quand vous utilisez les services de notre site web </li>
    <li>Des informations relatives aux achats que vous faites, aux services que vous utilisez ou
      aux transactions que vous effectuez sur notre site, qui incluent votre nom, adresse,
      numéro de téléphone, adresse e-mail et informations bancaires ;
    </li>
    <li>
      Des informations contenues dans toutes les communications que vous nous envoyez par e-mail ou sur notre site web,
      y compris leurs contenus et leurs métadonnées ;
    </li>
  </ul><br>
  <p>Avant de nous divulguer des informations personnelles concernant une autre personne,
    vous devez obtenir le consentement de ladite personne en ce qui concerne la divulgation et le traitement
    de ses informations personnelles selon les termes de cette politique
  </p><br>
  <strong>Utilisation de vos informations personnelles</strong><br><br>
  <p>Les informations personnelles qui nous sont fournies par le biais de notre site web
    seront utilisées dans les objectifs décrits dans cette politique ou dans les pages du site pertinentes.
    Nous pouvons utiliser vos informations personnelles pour:
  </p><br>
  <ul>
    <li>Administrer notre site web et notre entreprise ;</li>
    <li>Personnaliser notre site web pour vous ;</li>
    <li>Vous envoyer les marchandises achetées sur notre site ;</li>
    <li>Vous envoyer des relevés, des factures et des rappels de paiement, et collecter vos paiements ;</li>
    <li>Vous envoyer des notifications par e-mail que vous avez expressément demandées ;</li>
    <li>Maintenir la sécurité de notre site web et empêcher la fraude ;</li>
  </ul><br>
  <p>Sans votre consentement explicite, nous ne fournirons pas vos informations personnelles à des tierces parties
    pour leur marketing direct, ni celui d’autres tierces parties.
  </p>
  <strong>Avec qui nous partageons vos données personnelles</strong><br><br>
  <p>Nous ne vendons pas et nous ne louons pas vos données personnelles.
    Global Support Services ne divulguera pas vos données personnelles aux autorités à moins qu’elles ne soient exigées par la loi.
  </p><br>
  <strong>Publicités</strong><br><br>
  <p>Nous ne collaborons avec aucun réseau publicitaire tiers.</p>
  <strong>Vos droits</strong><br><br>
  <ul>
    <li>Vous pouvez nous demander de vous fournir toute information personnelle que nous détenons sur vous ;</li>
    <li>Nous pouvons retenir les informations personnelles que vous demandez dans la mesure autorisée par la loi ;</li>
    <li>Vous pouvez nous demander à tout moment de ne pas traiter vos informations personnelles à des fins marketing ;</li>
    <li>En pratique, vous exprimerez expressément et à l’avance votre accord pour que nous utilisions vos informations
      personnelles à des fins marketing ou nous vous fournirons une opportunité de refuser
      l’utilisation de vos informations personnelles à des fins marketing.
    </li>
  </ul>
</div>


<app-features></app-features>
<app-partners></app-partners>
<app-footer></app-footer>
