/* nav */
nav{
  background-color: white;
  padding: 40px 0;
  border-bottom: 1px solid #8c8c8c;
  margin: 0 auto;
  height: 50px;
  font-family: 'Zen Antique', serif;
  margin-bottom: 30px;
}

.nav-contain{
  width: 1000px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}

.nav-left{
  color: black;
  line-height: 0%;
}

a{
  text-decoration: none;
  color: #fc5356;
}

.breadcrumb{
  font-weight: bold;
}

.active{
  color: black;
}

/* page shop */
.container {
  height: 200px;
  width: 1000px;
}

.col-md-6, .mr-1 {
  font-family: 'Zen Antique', serif;
  color: black;
}

.btn-primary {
  font-weight: bold;
  background-color: #fc5356;
  border: none;
}

.btn-outline-primary {
  font-weight: bold;
 color: black;
 border: 1px solid black;
}

.text-success {
  font-weight: bold;
}

#btn-cart {
  height: 30px;
  width: 40px;
  margin-right: 2rem;
}

#btn-cart:hover {
  color: #fff;
  background-color: #fc5356;
}

.btn-outline-primary:hover {
  border: none;
  color: #fff;
  background-color: #fc5356;
}

.col-md-6 {
  width: 400px;
}


.product-image {
 height: 180px;
}

h5 {
  font-weight: 400
}

.para {
  font-size: 16px;

}

#search-btn {
  background-color: #fc5356;
  border: 0px;
}
