<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

<nav>
  <div class="topnav">
    <div class="topnav-left">
      <p><i class="fas fa-phone-alt"></i> +237 691 10 11 81</p>
      <p><i class="far fa-envelope"></i>info@global-supportservices.com</p>
    </div>
    <div class="topnav-right">
      <ul>
        <li> <a routerLink="/account">Mon compte</a></li>
        <li> <a routerLink="/wishlist"> Mes préférés</a></li>
        <li> <a routerLink="/checkout">Paiement</a></li>
      </ul>
    </div>
  </div>
  <div class="nav-contain">
    <div id="logo">
      <a href=""><img src="assets/img/Header/global.png" alt=""></a>
    </div>
    <div class="nav-contain-right">
      <ul>
        <li routerLinkActive="active"><a class="active" routerLink="/home">Accueil</a></li>
        <li routerLinkActive="active"><a routerLink="/shop">Boutique</a></li>
        <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
        <li *ngIf="isSuperAdmin || isAdmin" routerLinkActive="active"><a routerLink="/components/dashboard">Dashboard</a></li>

        <button id="btn-menu" type="button" pButton pRipple icon="pi pi-bars" label="Compte" (click)="menu.toggle($event)"></button>
        <p-menu #menu [popup]="true" [model]="items"></p-menu>

        <div class="cart-icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
          <button type="button" class="btn-search">search</button>
        </div>
      </ul>
    </div>
  </div>
</nav>
