@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

body{
  font-family: "Lato","Arial",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
}

.btn-success{
  width: 100%;
  font-weight: bold;
  background-color: #57b846;
}



